body {
    font-family: Arial, sans-serif;
    background-image: url(../assets/imagens/fundo.png);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

h2 {
    color: #f9f9f9;
    margin-top: 20px;
}

a {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #c8900d;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 90%;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: left;
}

table th, table td {
    padding: 12px;
    border: 1px solid #c8900d;
}

table th {
    background-color: #af7e0b;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #f2f2f2;
}

table tr {
    background-color: #f2f2f2;
}

button {
    background-color: #c8900d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background-color: #896206;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="file"] {
    padding: 5px;
}

textarea {
    resize: vertical;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

img {
    margin-bottom: 10px;
}

a {
    color: #c8900d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 20px;
}
