body {
    font-family: Arial, sans-serif;
    background-image: url(../assets/imagens/fundo.png);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    color: #333;
}

h1 {
    color: #f9f9f9;
}

a {
    display: inline-block;
    margin-bottom: 15px;
    text-decoration: none;
    color: #c8900d;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
}

input, textarea, button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button {
    background-color:#996e0b;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #896206
}

p {
    color: #f9f9f9;
    font-weight: bold;
}
